[Desktop Entry]
Version=1.0
Type=Application
Name=AutoStash
Comment=Linux Backup System
Exec=/Users/anujsiwach/Desktop/autostash-linux/dist/autostash
Terminal=false
Categories=Utility;System;Backup;
Keywords=backup;system;linux;
StartupNotify=true
